html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  font-family: 'Muli', sans-serif;
  text-align: center;
  width: 80%;
  min-height: 90vh;
  padding-bottom: 100px;
  margin: 5vh auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
}

.tasks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 2vw;
  border-top: 1px solid black;
  padding: 20px 0;
}
.tasks:last-of-type{
  border-bottom: 1px solid black;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 25px 0;
}

p {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0;
}

.check {
  font-size: 1.625rem;
  margin-left: 2vw;
}

.trash {
  width: 1.625rem;
  margin-right: 2.25vw;
  content:url("../static/trash.svg");
}

.trash:hover {
  content:url("../static/trashMouseover.svg")
}

.add {
  color: white;
  background-color: green;
  font-size: 1.625rem;
  align-self: flex-end;
  padding: 10px;
  padding-top: 5px;
  margin-right: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: padding-top 0.25s linear;
}

.add:hover {
  padding-top: 15px;
}

.attribution {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
}
