html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  font-family: 'Muli', sans-serif;
  text-align: center;
  width: 80%;
  min-height: 90vh;
  padding-bottom: 100px;
  margin: 5vh auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid grey;
  border-radius: 10px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-size: 1.25rem;
  padding: 10px;
  margin: 0 10px;
  background-color: rgba(102,51,153, 0.3);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: rgba(102,51,153, 0.9);
  color: white;
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
}

.tasks, .new-task {
  display: flex;
  flex-direction: row;
  margin: 0 2vw;
  padding: 20px 0;
  align-items: center;
}
.tasks {
  justify-content: space-between;
  border-top: 1px solid black;
}
.tasks:last-of-type{
  border-bottom: 1px solid black;
}

.new-task {
  justify-content: center;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 25px 0;
}

p {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0;
}

input {
  text-align: center;
  height: 2rem;
  margin-right: 20px;
  width: 50vw;
}

a {
  text-decoration: none;
  color: white;
}

.check img {
  width: 1.625rem;
  margin-left: 2vw;
}

.trash img {
  width: 1.625rem;
  margin-right: 2.25vw;
}

.add {
  color: white;
  background-color: green;
  font-size: 1.625rem;
  align-self: flex-end;
  padding: 10px;
  padding-top: 5px;
  margin-right: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: padding-top 0.25s linear;
}

.add:hover {
  padding-top: 15px;
}

.finished {
  color: #777777;
  font-style: italic;
  text-decoration: line-through;
}

.attribution {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
