<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To-Do</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
	<style>
		body {
			background-image: url("static/bg.jpg");
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="app">
			<div class="header">
				<p class="btn" @click.prevent="loadList">Load</p>
				<h1>To-Do List</h1>
				<p class="btn" @click.prevent="saveList">Save</p>
			</div>
			<div class="task-wrapper" ref="task" v-cloak>
				<div class="tasks" v-for="(task, index) in tasks">
					<div class="check"><img :src="task.checkBoxImgSrc" @mouseover="checkHover(task)"
							@mouseout="checkMouseOff(task)" @click="clickCheck(task)"></div>
					<div class="task" :class="{finished: task.finished}">
						<p>{{ task.name }}</p>
					</div>
					<div class="trash"><img :src="task.trashImgSrc" @mouseover="trashHover(task)"
							@mouseout="trashMouseOff(task)" @click="clickTrash(index)"></div>
				</div>
			</div>
			<div class="new-task" ref="newTask">
				<div class="input"><input type="text" v-model="taskInput" @keyup="inputListener($event)"
						placeholder="New Task"></div>
				<div class="accept">
					<p>
						<a href="#" @click.prevent="addNewTask()"> ✔️ </a>
						<a href="#" v-show="tasks.length > 0" @click.prevent="closeNewTask()"> ❌ </a>
					</p>
				</div>
			</div>

			<div class="add" v-show="tasks.length > 0" ref="add" @click.prevent="summonNewTaskDialog">
				<p>
					<a href="#">+</a>
				</p>
			</div>
		</div>
		<div class="attribution"><a href="https://www.racoucoules.com/">© 2019 Richard Coucoules</a></div>
	</div>
</body>

<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
	// Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyC1Tq20PQhmtl1sMUYLbObEtIIuCfDkZqM",
		authDomain: "todo-list-d6686.firebaseapp.com",
		databaseURL: "https://todo-list-d6686.firebaseio.com",
		projectId: "todo-list-d6686",
		storageBucket: "todo-list-d6686.appspot.com",
		messagingSenderId: "16741161929",
		appId: "1:16741161929:web:cf7b97a92f43e4fcb9a618"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	const db = firebase.firestore();


	// Vue instance
	var app = new Vue({
		el: "#app",
		data: {
			tasks: [],
			taskInput: "",

			trashSrc: 'static/trash.svg',
			trashHoverSrc: 'static/trash-mouseover.svg',

			checkBoxSrc: 'static/checkbox.svg',
			checkBoxHoverSrc: 'static/checkbox-hover.svg',
			checkedBoxSrc: 'static/checked-box.svg',
		},
		methods: {
			addNewTask: function () {
				this.tasks.push({
					name: this.taskInput,
					finished: false,
					checkBoxImgSrc: this.checkBoxSrc,
					trashImgSrc: this.trashSrc,
				});
				this.taskInput = "";
				this.$refs.newTask.classList.add("hidden");
				this.$refs.add.classList.remove("hidden");
			},
			closeNewTask: function () {
				this.$refs.newTask.classList.add("hidden");
				this.$refs.add.classList.remove("hidden");
			},
			summonNewTaskDialog: function () {
				this.$refs.newTask.classList.remove("hidden");
				this.$refs.add.classList.add("hidden");
			},

			trashHover: function (task) {
				task.trashImgSrc = this.trashHoverSrc;
			},
			trashMouseOff: function (task) {
				task.trashImgSrc = this.trashSrc;
			},
			clickTrash: function (index) {
				this.tasks.splice(index, 1);
				if (this.tasks.length == 0) {
					this.summonNewTaskDialog()
				}
			},

			checkHover: function (task) {
				if (!task.finished) {
					task.checkBoxImgSrc = this.checkBoxHoverSrc;
				}
			},
			checkMouseOff: function (task) {
				if (!task.finished) {
					task.checkBoxImgSrc = this.checkBoxSrc;
				}
			},
			clickCheck: function (task) {
				task.finished = !task.finished;
				if (task.finished) {
					task.checkBoxImgSrc = this.checkedBoxSrc;
				}
				else {
					task.checkBoxImgSrc = this.checkBoxSrc;
				}
			},
			inputListener: function (event) {
				if (event.key === "Enter") {
					this.addNewTask(this.taskInput);
				}
			},
			saveList: function () {
				const listKey = prompt("Enter a unique username to associate with this list.");
				if (listKey) {
					db.collection('lists').doc(listKey).set({
						list: this.tasks
					}).then(() => alert(`To-do list saved with ID "${listKey}s"`),
						error => alert("Error adding list: " + error));
				}
			},
			loadList: function () {
				const listKey = prompt("Enter your unique username associated with your list.");
				if (listKey) {
					db.collection('lists').doc(listKey).get()
						.then(doc => {
							if (doc.exists) {
								this.tasks = doc.data().list;
								this.closeNewTask();
							} else {
								alert("Username does not exist.")
							}
						},
							error => alert("Error loading list: " + error));
				}
			},
		},
	});
</script>

</html>