<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>To-Do</title>
		<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <style>
      body {
        background-image: url("static/bg.jpg");
      }
    </style>
	</head>

  <body>
    <div class="container">
      <div id="app">
          <h1>To-Do</h1>
            <div class="task-wrapper" ref="task">
                <div class="tasks" v-for="(task, index) in tasks">
                  <div class="check"><img src="static/checkbox.svg" @mouseover="checkHover(index)" @mouseout="checkOff(index)" @click="clickCheck(index)"></div>
                  <div class="task"><p>{{ task }}</p></div>
                  <div class="trash"><img src="static/trash.svg" @mouseover="trashHover(index)" @mouseout="trashOff(index)" @click="clickTrash(index)"></div>
                </div>
              </div>
						<div class="new-task" :style="newTaskStyle" ref="newTask">
							<div class="input"><input type="text" v-model="taskInput" placeholder="New Task"></div>
							<div class="accept"><p>
								<a href="#" @click.prevent="addNewTask(taskInput)"> ✔️ </a>
								<a href="#" v-show="tasks.length > 0" @click.prevent="closeNewTask(taskInput)"> ❌ </a>
							</p></div>
						</div>

            <div class="add" v-show="tasks.length > 0" ref="add"><p>
							<a href="#" @click.prevent="summonNewTaskDialog">+</a>
						</p></div>
      </div>
      <div class="attribution">© 2019 Richard Coucoules</div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var tasks = ["Sweep the floor", "Walk the dog", "Take out the trash", "Mow the lawn", "Go grocery shopping"];
    var app = new Vue({
      el: "#app",
      data: {
        tasks: [],
				taskInput: "",

				trashSrc: 'static/trash.svg',
				trashHoverSrc: 'static/trash-mouseover.svg',

				checkBoxSrc: 'static/checkbox.svg',
				checkBoxHoverSrc: 'static/checkbox-hover.svg',
				checkedBoxSrc: 'static/checked-box.svg',
        },
      methods: {
        addNewTask: function(input) {
          this.tasks.push(input);
					this.taskInput = "";
					this.$refs.newTask.classList.add("hidden");
					this.$refs.add.classList.remove("hidden");
        },
				closeNewTask: function(input) {
					this.$refs.newTask.classList.add("hidden");
					this.$refs.add.classList.remove("hidden");
				},
				summonNewTaskDialog: function() {
					this.$refs.newTask.classList.remove("hidden");
					this.$refs.add.classList.add("hidden");
				},

				trashHover: function(index) {
					let trash = this.$refs.task.children[index].children[2].children[0];
					trash.setAttribute('src', this.trashHoverSrc);
				},
				trashOff: function(index) {
					let trash = this.$refs.task.children[index].children[2].children[0];
					trash.setAttribute('src', this.trashSrc);
				},
				clickTrash: function(index) {
					this.tasks.splice(index, 1);
					if (this.tasks.length == 0) {
						this.$refs.newTask.classList.remove("hidden");
					}
				},

				checkHover: function(index) {
					let checkBox = this.$refs.task.children[index].children[0].children[0];
					let task = this.$refs.task.children[index].children[1];
					if (!task.classList.contains('finished')) {
						checkBox.setAttribute('src', this.checkBoxHoverSrc);
					}
				},
				checkOff: function(index) {
					let checkBox = this.$refs.task.children[index].children[0].children[0];
					let task = this.$refs.task.children[index].children[1];
					if (!task.classList.contains('finished')) {
						checkBox.setAttribute('src', this.checkBoxSrc);
					}
				},
				clickCheck: function(index) {
					let checkBox = this.$refs.task.children[index].children[0].children[0];
					let task = this.$refs.task.children[index].children[1];
					task.classList.toggle('finished');
					if (checkBox.getAttribute('src') == this.checkBoxHoverSrc) {
						checkBox.setAttribute('src', this.checkedBoxSrc);
					}
					else {
						checkBox.setAttribute('src', this.checkBoxSrc)
					}
				},
      },
    });
  </script>
</html>
